.modeToggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
   gap: 1rem;
    transition: all 0.3s ease-in-out;
    transition: background 0.3s ease;
}

.modeToggle:hover {
    background: rgba(255, 255, 255, 0.2);
}

.modeToggle p {
    margin: 0;
    color: var(--accent);
}

.modeToggle button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
     transition: all 0.3s ease-in-out;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.modeToggle button:hover {
 box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;

}

