
:root {
  --bg: #1a1a1a;
  --fg: #edf1e8;
  --border: rgba(255, 255, 255, 0.1);
  --text-main: #ffffff;
  --text-dim: rgba(255, 255, 255, 0.5);
}

.stickyCards {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    
}

.stickyCard{
    position: relative;
   width: 100%;
    height: 100svh;
    background-color: var(--fg);
    color: var(--bg);
    padding: 1.5rem;
    display: flex;
    gap: 3rem;
    will-change: transform;

}

.stickyCard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: var(--afterafter-opacity, 0);
    transition: opacity 0.1s ease;
    pointer-events: none;
    z-index: 2;
}
.stickyCardIndex{
    flex: 2;
}
.stickyCardContent{
    flex: 4;
    padding-top: 1.5rem;
}

.stickyCardContentWrapper{
    width: 75%;
   display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.stickyCardHeader{
width: 75%;
}

.stickyCardImg .projectImage{
   width: 100% !important;
    height: auto !important;
    object-fit: cover;
    /* This ensures the image respects the container ratio */
    display: block; 
}
.stickyCardImg {
    width: 100%;
    /* Ensure the container doesn't exceed the wrapper's width */
    max-width: 100%; 
    overflow: hidden; 
    border-radius: 8px; /* Optional: for a cleaner look */
}
.stickyCardCopy{
    display: flex;
    gap: 1.5rem;

}

.stickyCardCopyTitle{
    flex: 2;

}
.stickyCardCopyDescription{
    flex: 4;
}

.stickyCardCopyTitle p {
    text-transform: uppercase;
    font-weight: 650;
}

@media (max-width: 768px) {
    .stickyCard{
        flex-direction: column;
        gap: 0;
    }
    .stickyCardContentWrapper{
        width: 100%;
    }
    .stickyCardCopy{
        flex-direction: column;
        gap: 0.5rem;
    }
    .stickyCardIndex{
        flex: 1;
    }
    .stickyCardCopy{
        flex-direction: column;
    }
}